<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_9X4Z_QpyXWInz_rFqhTjfvs2C2bJXnY</string>
	<key>GCM_SENDER_ID</key>
	<string>654328905521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosDevMo.User-login-signup</string>
	<key>PROJECT_ID</key>
	<string>user-login-signup-a2465</string>
	<key>STORAGE_BUCKET</key>
	<string>user-login-signup-a2465.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654328905521:ios:38e4301b295f20a81a7a10</string>
</dict>
</plist>